{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page d'accueil !{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home_index') }}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home_index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_index') }}">Admin</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Catégories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('add_category') }}">Ajouter une catégorie</a></li>
                        {% for categorie in getCategory() %}
                        <li><a class="dropdown-item" href="{{ path('show_index') }}">{{ categorie.label }}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur notre site !</h1>
        <p class="lead">Découvrez nos produits de qualité.</p>
        <hr class="my-4">
        {% if app.user %}
        <p>Vous êtes connecté en tant que <strong>{{ app.user.email }}</strong>.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_logout') }}" role="button">Déconnexion</a>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
        <a class="btn btn-success btn-lg" href="{{ path('app_register') }}" role="button">Inscription</a>
        {% endif %}
    </div>
</div>
{% endblock %}
